[submodule "Compiler"]
	path = Compiler
	url = https://github.com/GabrieleCocco/FSCL.Compiler



[submodule "mono.reflection"]
	path = mono.reflection
	url = git@github.com:GabrieleCocco/mono.reflection.git
