source https://nuget.org/api/v2
redirects: on

nuget FSharp.Core
nuget FSCL.Compiler
nuget FSharp.Formatting
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx